
body {
	background-color: white;
	font-family: 'PT Sans', sans-serif;
	--coosto-blue: #00A8ED;	// Used on headings
	--coosto-orange: #FF7311;	// Used on button
	--coosto-dark-blue: #002649;	// Used on text
}

//==========

#zone-header {
	text-align: center;
	width: 100%;
}
#zone-header-wrap {
	margin: 70px 0 0 0;
	color: var(--coosto-dark-blue);
	text-align: center;
}
#zone-header-wrap h1 {
	color: var(--coosto-blue);
	font-size: 18px;
	letter-spacing: 0.5px;
}
#zone-header-wrap p {
	font-size: 13px;
	// letter-spacing: 0.5px;
}

//==========

#zone-usp {
	text-align: center;
	width: 100%;
}
#zone-usp-wrap {
	margin: 50px 0 0 0;
	color: var(--coosto-dark-blue);
}
#zone-usp-wrap .one-usp {
	width: 200px;
	margin: 0 20px 0 20px;
	padding: 50px 0 0 0;
	text-align: center;
}
#zone-usp-wrap .one-usp img {
	width: 80px;
	height: 80px;
	border-width: 0;
}
#zone-usp-wrap .one-usp h2 {
	margin: 30px 0 20px 0;
	color: var(--coosto-blue);
	font-size: 14px;
	letter-spacing: 0.5px;
}
#zone-usp-wrap .one-usp p {
	font-size: 11px;
	line-height: 20px;
	//letter-spacing: 0.5px;
}

//==========

#zone-contact {
	width: 100%;
	// linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5));
	background-image: url('assets/background.jpg');
	background-color: var(--coosto-dark-blue);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
	text-align: center;
	clear: both;
}
#zone-contact-wrap {
	color: white;
}
#zone-contact-wrap h3 {
}
#zone-contact-wrap p {
}
#zone-contact-wrap form {
	width: 300px;
}
#zone-contact-wrap form .form-row {
}
#zone-contact-wrap form .form-row-left {
	width: 45%;
	float: left;
}
#zone-contact-wrap form .form-row-right {
	width: 45%;
	float: right;
}
#zone-contact-wrap form input {
	width: 100%;
}
#zone-contact-wrap form textarea {
	width: 100%;
}
#zone-contact-wrap form input[type=submit] {
	width: 80%;
}
