
*, html {
	margin: 0;
	padding: 0;  
}
body {
	background-color: white;
	font-family: 'PT Sans', sans-serif;
	--coosto-blue: #00A8ED;  /* Used on headings */
	--coosto-orange: #FF7311;  /* Used on button */
	--coosto-dark-blue: #002649;	/* Used on text = 0,38,73 */
}

/*==================================================*/

#zone-header {
	text-align: center;
	width: 100%;
}
#zone-header-wrap {
	margin: 70px 0 0 0;
	color: var(--coosto-dark-blue);
	text-align: center;
}
#zone-header-wrap h1 {
	color: var(--coosto-blue);
	font-size: 18px;
	letter-spacing: 0.5px;
}
#zone-header-wrap p {
	font-size: 13px;
}

/*==================================================*/

#zone-usp {
	text-align: center;
	width: 100%;
}
#zone-usp-wrap {
	width: 720px;
	margin: 50px auto 0 auto;
	color: var(--coosto-dark-blue);
	overflow: auto;  /* clearfix */
}
#zone-usp-wrap .one-usp {
	float: left;
	width: 200px;
	margin: 0 20px 0 20px;
	padding: 50px 0 0 0;
	text-align: center;
}
@media only screen and (max-width: 720px) {
	#zone-usp-wrap {
		width: 240px;
	}
	#zone-usp-wrap .one-usp {
		float: none;
	}
}
#zone-usp-wrap .one-usp img {
	width: 80px;
	height: 80px;
	border-width: 0;
}
#zone-usp-wrap .one-usp h2 {
	margin: 30px 0 20px 0;
	color: var(--coosto-blue);
	font-size: 14px;
	letter-spacing: 0.5px;
}
#zone-usp-wrap .one-usp p {
	font-size: 11px;
	line-height: 20px;
}

/*==================================================*/

#zone-contact {
	margin: 50px 0 0 0;
	width: 100%;
	background:
		linear-gradient(
			rgba(0, 38, 73, 0.5),
			rgba(0, 38, 73, 0.5)
		),
		url('../assets/background.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
}
#zone-contact-wrap {
	padding: 50px 0 100px 0;
	color: white;
}
#zone-contact-wrap h3 {
	margin: 0 0 20px 0;
}
#zone-contact-wrap p {
}
#zone-contact-wrap form {
	margin: 30px auto 0 auto;
	width: 300px;
}
#zone-contact-wrap form .form-row {
	padding: 20px 0 0 0;
	clear: both;
}
#zone-contact-wrap form .form-row-left {
	width: 45%;
	float: left;
}
@media only screen and (max-width: 500px) {
	#zone-contact-wrap form .form-row-left {
		width: 100%;
		float: none;
	}
}
#zone-contact-wrap form .form-row-right {
	width: 45%;
	float: right;
}
@media only screen and (max-width: 500px) {
	#zone-contact-wrap form .form-row-right {
		width: 100%;
		float: none;
		padding: 20px 0 0 0;
	}
}
#zone-contact-wrap form input {
	width: 100%;
	padding: 5px;
}
#zone-contact-wrap form textarea {
	width: 100%;
	padding: 5px;
	font-family: 'PT Sans', sans-serif;
}
#zone-contact-wrap form button[type=submit] {
	width: 90%;
	padding: 10px 10px 10px 10px;
	background-color: var(--coosto-orange);
	color: white;
	font-size: 18px;
}
#zone-contact-wrap p.footnote {
	padding: 25px 0 0 0;
	font-size: 14px;
}
#form-success {
	display: none;
	padding: 100px 0 50px 0;
	color: var(--coosto-orange);
}
#form-error {
	display: none;
	padding: 100px 0 50px 0;
	color: var(--coosto-orange);
}
